.home {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $home_color;
  @media (max-width: $tablet) {
      gap: clamp(60.52px, 12vw, 60.52px); 
  }
  .mainContent {
    display: flex;
      padding :100px 0px;
    flex-direction: column;
    gap: clamp(50px, 8vw, 100px);
  @media (max-width: $tablet) {
    padding :0px;
  }
  }
}