@use './breakpoints' as bp;

$container-max-width: 1440px;
$container-padding: 101px;
$container-padding-tablet: 40px;
$container-padding-mobile: 16px;

@mixin container {
  width: 100%;
//   max-width: $container-max-width;
//   margin-inline: auto;
  padding-inline: $container-padding;
  @include bp.respond('small-desktop') {
    padding-inline: $container-padding-tablet;
  }

  @include bp.respond('tablet') {
    padding-inline: $container-padding-mobile;
  }
}