.mainContent {
    padding: 60px 0px 100px 0px;
    @media (max-width:576px) {
        padding: 16px 0px 40px 0px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 100px;
         @media (max-width:576px) {
                    gap: 16px;
                }

        .consultingCategory {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 69px;
 @media (max-width:576px) {
                    gap: 24px;
                }
            .heading {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 12px;

                @media (max-width:576px) {
                    gap: 9px;
                }

                h2 {
                    font-size: 28px;
                    font-weight: 600;
                    color: #333333;

                    @media (max-width:576px) {
                        font-size: 16px;
                    }
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: #4A5565;
                    text-align: center;
                    width: 70%;

                    @media (max-width:576px) {
                        font-size: 14px;
                        width: 100%;
                    }
                }
            }

            .consultingCard {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(405px, 1fr));
                gap: 24px;
                padding: 0px 100px;
                @media (max-width:576px) {
                    padding: 0px;
                    gap: 16px;
                }
            }

            .viewMoreBtn {
                height: 48px;
                width: 283px;
                margin: auto;
                padding: 4px 30px;
                background-color: #FFFFFF;
                border: 1px solid $blue-900;
                border-radius: 10px;
                color: $blue-900;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .expertConsultants {
            background: linear-gradient(135deg, #EFF6FF 0%, #EEF2FF 100%);
            padding: 64px 182px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 48px;

            @media (max-width:576px) {
                padding: 16px 0px;
            }

            .heading {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 16px;

                h2 {
                    font-size: 28px;
                    font-weight: 600;
                    color: #333333;
                    
                     @media (max-width:576px) {
                        font-size: 16px;
                }
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: #4A5565;
                    text-align: center;
                    
                     @media (max-width:576px) {
                        font-size: 14px;
                }
                }
            }

            .expertCards {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
                gap: 34px;
                 @media (max-width:576px) {
                        padding: 0px;
                        gap: 16px;
                    }
            }
        }

        .frequentlyQuestions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 48px;
            @media (max-width:576px) {
                padding: 0px 0px;
                gap: 16px;
            }
            .heading {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 16px;
                 @media (max-width:576px) {
                    gap: 12px;
                }

                h2 {
                    font-size: 28px;
                    font-weight: 600;
                    color: #333333;

                     @media (max-width:576px) {
                        font-size: 16px;
                }
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: #4A5565;
                    text-align: center;
                    
                     @media (max-width:576px) {
                        font-size: 14px;
                }
                }
            }

            .questions {
            display: flex;
    flex-direction: column;
    gap: 20px;
    max-width:1000px;        // or whatever width matches your design
    width: 100%;
    margin: 0 auto;          // this centers it horizontally
    align-self: center
            }
        }
    }
}